.details{
  display: flex;
}

.imageContainer{  
  flex:2;
  img{
    width:100%;
  }
}

.detailsText{   
  padding-left:10px;  
  flex:5;
  h1{
    margin-top:0px;
    margin-left:3px;
    color:#63580e;
    line-height: 27px;
  }
  p{
    display: inline-block;
    margin:5px;
  }
}

.backBtn{
  padding:10px;
  cursor: pointer;;
  &:hover{
    text-decoration: underline;
  }
}

