
.season {
  background-color: whitesmoke;
  margin: 11px;  
  border: 1px solid #d2d2d2;
  background-color: #f7f7f7;
  position: relative;  
  color:#63580e;
  min-height:100px;
  
  img{
    max-height:100%;
  }

  &:hover {    
    background-color: #efefef;

    .summary {      
      background-color: #f9f9f9;
    }
  }
}


.seasonImageContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 71px;
  height:100px;
  border-right: 1px solid #d2d2d2;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}


.contentContainer { 
  margin-left: 71px;
  padding-left: 5px;
  overflow: hidden;
  padding: 2px 2px;
  vertical-align: top;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}

.content {  
  padding: 3px 5px;
  white-space: nowrap;
  text-overflow:ellipsis;  
}